<h1>below are student details</h1>

<p> name: <%= @student.name %></p>
<p> age: <%= @student.age %></p>
<p> mail: <%= @student.mail %></p>
<p> qualification: <%= @student.qualification %></p>
<%= link_to "back to index" , students_path %>
<%= link_to "edit article" , edit_student_path %>